{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
                <th class="text-center">Buy or Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock.symbol }}</td>
                    <td class="text-end">{{ stock.shares }}</td>
                    <td class="text-end">{{ stock.price | usd }}</td>
                    <td class="text-end">{{ stock.total | usd }}</td>
                    <td class="text-center w-25">
                        <form method="post">
                            <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                            <div class="input-group">
                                <input autocomplete="off" class="form-control form-control-sm" min="1" name="shares" placeholder="Shares" type="number">
                                <button class="btn btn-outline-primary btn-sm" type="submit" formaction="/buy">Buy</button>
                                <button class="btn btn-outline-secondary btn-sm" type="submit" formaction="/sell">Sell</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash.cash | usd }}</td>
                <td class="border-0"></td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 fw-bold text-end">{{ cash.total | usd }}</td>
                <td class="border-0"></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
